body
{
	background-color: #ffffff;

}

#container
{
	width: 1208px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid #3B0B17;
}

#eventSlideShow
{
	border: 1px solid #3B0B17;
	width: 1208px;
	height: auto;
	border: 5px solid #190718;
}

#footer
{
	width: 1208px;
	height: 59px;
	padding-bottom: 0px;
}
#abouttimeline
{
	float : left;
	padding : 10px;
	margin-top : 100px;
	font-family: "Verdana";
}

#timeline
{
	float : right;
	padding : 10px;
	margin-top : 100px;
	margin-bottom : 50px;
}

#video1
{
	float : left;
	padding : 10px;
	margin-top : 200px;
	margin-bottom : 50px;
}
#aboutvideo1
{
	float : right;
	padding : 10px;
	margin-top : 10px;
	font-family: "Verdana";
}
#Information
{
	font-family: "Verdana";

}
#Location
{
	font-family: "Verdana";
	font-style: italic;
}
#nav a:link{
	color: #0000FF;
}
#nav a:hover{
	color: #FF0000;
}
#header
{

}