<a href="https://www.fortwaynesportclub.com/events/fwscys-soccer-camp/">2nd Annual Mike Clark Soccer Camp</a><br>
<br>
Date:<br> 		
July 20, 21, 22 & 23<br>
<br>
Time:<br> 		
9AM to 12PM camp<br>
12PM to 2PM lunch with soccer videos<br>
<br>			
Location:<br>	
Fort Wayne Sport Club<br>
3102 Ardmore Ave.<br>
Fort Wayne, IN 46802<br>

