<a href="https://www.fortwaynesportclub.com/youth-soccer/topsoccer/">Top Soccer</a><br>
<br>
Date, Time & Cost<br>
<br>
Fall: 5 week Fall Session: Saturday’s September 13, 20, 27 & October 4, 11<br>
<br>
Time: 10:30 am to 11:30 am, half hour practice, half hour game<br>
<br>
Cost: $40/year 2014(includes a club jersey and socks)<br>
<br>
Winter: 4 weeks in Feb/Mar time frame<br>
<br>
Time and location TBD<br>
<br>
Spring:  4 weeks in April/May on Saturdays<br>
<br>
Summer: 7 weeks in June/July on Thursday evenings<br>
<br>
Fall: 6 weeks in Sep/Oct on Saturday mornings<br>
<br>

Location:<br>
Fort Wayne Sport Club<br>
3102 Ardmore Avenue<br>
Fort Wayne, IN 46802<br>